@import "tailwindcss";

@theme {
  --color-background: var(--bg-color);
  --color-surface: var(--surface-color);
  --color-primary: #5B5CEB;
  --color-secondary: #3B82F6;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-text-main: var(--text-main-color);
  --color-text-sub: var(--text-sub-color);

  --font-sans: var(--font-noto-sans-thai), sans-serif;
}

:root {
  --bg-color: #09090B;
  --surface-color: #18181B;
  --text-main-color: #FFFFFF;
  --text-sub-color: #A1A1AA;
  --foreground: #FFFFFF;
}

:root.light-mode {
  --bg-color: #F4F4F5;
  --surface-color: #E4E4E7;
  --text-main-color: #09090B;
  --text-sub-color: #71717A;
  --foreground: #09090B;
}

body {
  background-color: var(--bg-color);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}
